@titlefs: 1.1em;
@barheight:38px;
@radius:8px;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 100%;
  height: @barheight;
  background-color: #ffffff;
  .center;
  .first {
    width: 800px;
    display: flex;
    justify-content: space-around;
    li{
      width: 150px;
      line-height: @barheight;
      text-align:center;
      font-size: @titlefs;
      position: relative;
      .second{
        // display: none;
        position: absolute;
        z-index: 0;
        top: @barheight - @radius;
        padding-top: 8px;
        font-size: 0.8em;
        background-color: #ffffff;
        border-radius: @radius;
      }
    }
  }
}

li:hover{
  background-color: #e2e2e2;
  .second{
   background-color: red;
  }
}
